html,body {
  min-height: 100vh;
  background-color: #333333;
  foreground-color: #ffffff;
}

.block-blue {
  background-color: #dae8f4;
}

.img-small {
  height: auto;
  max-width: 3%;
  width: 3%;
}

.hidden {
  display: none;
}
